.home {
    padding-left: .2rem;
}

.card {
    width: 60vw;
    background-color: #fff;
    box-shadow: 6px 8px 12px #696969;
    padding: 1.5rem;
    border-radius: 1.8rem;
    margin: 2rem 0 1.5rem 0;
}

.titulo {
    margin-top: 4rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
}

.sequencia {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: .2rem;
}
.borda-azul {
    border-left: 8px solid #4d4dff;
}

.borda-verde {
    border-left: 8px solid #74c365;
}

.borda-vermelha {
    border-left: 8px solid #d31949;
}

.home-padding {
    padding: 1rem;
}

.botão {
    margin-top: .6rem;
}

h2 {
    margin-top: 1rem;
}