* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: inherit;
    color: inherit;
}

.wh100 {
    min-width: 100vw;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-start {
    justify-content: flex-start;
}

.al-center {
    align-items: center;
}

.c4d4dff {
    color: #4d4dff;
}

.b4d4dff {
    background-color: #4d4dff;
}

.c74c365 {
    color: #74c365;
}

.b74c365 {
    background-color: #74c365;
}

.cd31949 {
    color: #d31949;
}

.bd31949 {
    background-color: #d31949;
}

.c857db1 {
    color: #857db1;
}

.b857db1 {
    background-color: #857db1;
}

.cF9E76D {
    color: #F9E76D;
}

.bF9E76D {
    background-color: #F9E76D;
}

.cF4A23E {
    color: #F4A23E;
}

.bF4A23E {
    background-color: #F4A23E;
}

// .bf7f8f8 {
//     background-color: #f7f8f8;
// }

.c242424 {
    color: #242424;
}

.b242424 {
    background-color: #242424;
}

// .c533d8b {
//     color: #ffe600;
// }

// .b533d8b {
//     background-color: #ffe600;
// }

.text {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 550;
}